<app-header [userImg]="userImg"></app-header>

<app-banner></app-banner>
<app-carousel [movieContents] = "movies" [title]="'Trending Now'"></app-carousel>

<app-carousel [movieContents] = "tvShows" [title]="'TV Shows'"></app-carousel>

<app-carousel [movieContents] = "nowPlaying" [title]="'Continue Watching for ' + name"></app-carousel>

<app-carousel [movieContents] = "popular" [title]="'Popular Movies'"></app-carousel>

<app-carousel [movieContents] = "topRated" [title]="'Top Rated'"></app-carousel>

<app-carousel [movieContents] = "upcoming" [title]="'Upcoming'"></app-carousel>

